// *************************************
//
//   Structure - Palette
//
// -------------------------------------
//   Template (Jade)
// -------------------------------------
//
// .palette[.structure--modifier](.is-state)(.has-context)
//   .palette-color[.structure--modifier](.is-state)(.has-context)
//     .palette-tone[.structure--modifier](.is-state)(.has-context)
//
// *************************************

.palette
  width: 100%
  height: 100%
  display: table

// -------------------------------------
//   Modifiers
// -------------------------------------

.palette-list
  display: table-row

.palette-color
  width: 100%
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  display: flex
  align-content: stretch

.palette-tone
  display: block
  margin: auto

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .structure-scaffolding

