#wrapper
  height: 100%

// *************************************
//
//   Structure - Palette
//
// -------------------------------------
//   Template (Jade)
// -------------------------------------
//
// .palette[.structure--modifier](.is-state)(.has-context)
//   .palette-colors[.structure--modifier](.is-state)(.has-context)
//     .palette-color
//   .palette-tones[.structure--modifier](.is-state)(.has-context)
//     .palette-tone
//
// *************************************

#palette
  position: absolute
  width: 100%
  height: 100%
  display: flex
  flex-direction: column

// -------------------------------------
//   Modifiers
// -------------------------------------

.palette-list
  display: flex
  flex-direction: column
  flex: 1

.palette-tones
  display: -webkit-box
  display: -moz-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex
  flex: auto

.palette-tone
  width: 100%

// -------------------------------------
//   States
// -------------------------------------

// .structure.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-structure

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .structure-scaffolding

