// *************************************
//
//   Structure - ToolBar
//
// -------------------------------------
//   Template (Jade)
// -------------------------------------
//
// .toolbar
//
// *************************************

.toolbar
  width: 100%
  display: block
  overflow: hidden
  background-color: #212121

// -------------------------------------
//   Modifiers
// -------------------------------------

[class^="flaticon-"]
  display: inline-block
  cursor: pointer
  margin: 0 $b-space-s * 1.5
  &:hover
    color: MDcolor(grey, 50)

  &.is-locked,
  &.is-deletable
    color: MDcolor(orange)


// -------------------------------------
//   ghbtns
// -------------------------------------

.ghbtns
  float: right
  margin: 0
  padding-top: 6px

  li
    display: inline-block

  iframe
    border: 0