doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Welcome To Laima
    link(href="css/application.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="bower/outdated-browser/outdatedbrowser/outdatedbrowser.min.css")
    meta(name="viewport" content="width=device-width,initial-scale=1")

  body
    #outdated
    div#wrapper

    script(data-main="js/main.js" src="bower/requirejs/require.js")
    //- script(data-main="js/app.js" src="bower/requirejs/require.js")
    script(src="bower/outdated-browser/outdatedbrowser/outdatedbrowser.min.js")

    //- outdated browser
    script.
      outdatedBrowser({
        bgColor: '#f25648',
        color: '#ffffff',
        lowerThan: 'transform',
        languagePath: 'bower/outdated-browser/outdatedbrowser/lang/en.html'
      })
